:root {
  --main-color: #272a31;
  --secondary-color: #ec5242;
  --fade-text: #d3d3d3;
  --sm-text: 1.1em;
  --md-text: 1.5em;
  --lg-text: 2.1em;
  --btn-font: 1.2em;
  --font-big: 'COCOGOOSE', sans-serif;
  --font-sm: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  position: relative;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  position: relative;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  padding-bottom: 10px;
  z-index: 1;
}

.bg {
  background: rgba(242, 242, 242, 1);
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: -webkit-linear-gradient(
    top right,
    rgba(242, 242, 242, 0.95),
    rgba(251, 251, 251, 0.7)
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: -moz-linear-gradient(
    top right,
    rgba(242, 242, 242, 0.95),
    rgba(251, 251, 251, 0.7)
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: linear-gradient(
    to bottom left,
    rgba(242, 242, 242, 0.95),
    rgba(251, 251, 251, 0.7)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.index {
  position: relative;
  z-index: 2;
}

.link-and-nav {
  height: 100vh;
  display: grid;
  grid-template-areas: 'social-link' 'nav';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--main-color);
}

.hide-mobile {
  display: none;
}

.nav-link-head {
  width: 60%;
  font-size: var(--md-text);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}

.nav-menu-link {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nav-menu-link a {
  font-size: var(--md-text);
  color: var(--secondary-color);
  font-weight: bold;
  border: 3px solid var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 12px;
}

.logo a {
  text-decoration: none;
  font-size: var(--md-text);
  color: #fff;
}

.summit a {
  text-decoration: none;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: var(--btn-font);
  cursor: pointer;
}

.social-link ul li a {
  color: black;
  text-decoration: none;
}

.nav-link-head a:hover,
.logo a:hover {
  color: #f1aca5;
}

/* social link was here */
.social-link {
  grid-area: social-link;
}

ul li {
  list-style-type: none;
  display: flex;
  align-content: center;
}

.program-list .li {
  background-color: rgba(44, 44, 58, 0.7);
  padding: 11px 3px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  background-color: #fff;
}

.social-link ul li {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 25px;
}

.logo-cancel {
  margin: 15% auto;
  width: 90%;
  max-width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  margin-top: -35%;
  width: 100%;
  padding: 20px 15px;
  color: #fff;
}

.close {
  font-size: 2.5em;
  color: #fff;
}

.twitter-img,
.facebook-img {
  width: 35px;
}

nav {
  grid-area: nav;
  display: flex;
}

.nav-menu {
  margin-top: 98px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.ham {
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.ham span {
  width: 30px;
  height: 5px;
  background-color: var(--main-color);
}

.showcase {
  margin-top: 35px;
  padding: 40px 15px;
}

.showcase blockquote {
  margin-bottom: 18px;
  font-family: var(--font-sm);
  font-size: 1.6em;
  color: var(--secondary-color);
}

.showcase h1 {
  margin-bottom: 10px;
  font-family: var(--font-big);
  font-size: var(--md-text);
  line-height: 1.1em;
  background-image: url(./images/textBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  /* stylelint-disable-next-line csstree/validator */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para-border,
.para-border-about {
  font-family: var(--font-sm);
  padding: 20px 12px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: 2px solid rgba(243, 241, 241, 0.6);
  background-color: rgba(230, 92, 82, 0.2);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  font-size: var(--sm-text);
  line-height: 1.3em;
  letter-spacing: 1.5px;
}

.venue h2 {
  font-family: var(--font-big);
  font-weight: 300;
  font-size: var(--md-text);
}

.venue p {
  font-family: var(--font-sm);
  font-size: var(--sm-text);
}

/* main */
main {
  position: relative;
  width: 100%;
}

.main {
  background-image: url(./images/backPattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 10px;
}

.main-heading,
.feature-heading,
.foot-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.main h1,
.feature-speaker h1,
.foot h1 {
  font-family: var(--font-sm);
  color: #fff;
  font-size: var(--lg-text);
}

.sm-line {
  background-color: var(--secondary-color);
  height: 3px;
  width: 70px;
}

.program-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speakers img {
  position: relative;
  top: 18px;
  left: 9px;
  width: 120px;
  object-fit: contain;
}

.flex img {
  height: calc(100% + 100px);
}

.program-list .li img {
  width: 30px;
}

.rights h4 {
  font-size: var(--md-text);
  color: var(--main-color);
  margin-bottom: 8px;
}

.close-foot h3,
.rights h4 {
  font-family: var(--btn-font);
  font-size: var(--md-text);
  color: var(--secondary-color);
  text-align: center;
}

.close-foot h3 {
  font-size: 2em;
}

.program-list .li h4 {
  color: var(--secondary-color);
  font-weight: bold;
}

.speaker-style p {
  color: var(--secondary-color);
  font-family: var(--font-sm);
  line-height: 20px;
  font-weight: bold;
}

.rights p {
  text-align: center;
}

.para-border-about p {
  text-align: center;
}

.card-one p,
.card-two p {
  z-index: 2;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
}

.create-common > p,
.past-reviews > p {
  line-height: 28px;
  margin-bottom: 35px;
}

.contact-us p {
  font-size: var(--ss-text);
  line-height: 28px;
}

.program-list .li p {
  color: var(--fade-text);
  font-weight: bold;
}

.summit {
  margin-top: 40px;
  text-align: center;
}

/* SPEAKER */
.feature-speaker {
  padding: 50px 10px 30px 10px;
  height: 100%;
}

.feature-speaker h1 {
  background-color: #fff;
  color: var(--main-color);
}

.speakers {
  margin-bottom: 40px;
}

.speakers h3 {
  font-family: var(--font-sm);
  font-size: var(--md-text);
}

.speakers ul {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.flex {
  display: flex;
  gap: 4.3em;
}

.speaker-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.ssm-line {
  height: 2px;
  width: 30px;
  background-color: var(--fade-text);
}

.speaker-img {
  margin-top: 40px;
  margin-left: 8px;
  position: relative;
  top: -35px;
  left: -5px;
  height: 70px;
  width: 70px;
  background-color: #000;
  background-image: url(./images/pattern.png);
  background-size: cover;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speaker-edu {
  font-family: var(--font-sm);
  line-height: 20px;
}

.see-more {
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 2px 10px;
  border: 2px solid rgba(168, 163, 163, 0.6);
}

.see-more h3 {
  font-family: var(--font-sm);
  font-size: var(--md-text);
  font-weight: 200;
  opacity: 0.7;
}

.see-more span {
  font-size: 3.2em;
  transform: rotate(90deg);
  color: var(--secondary-color);
}

/* FOOTER */
.foot,
.close-foot {
  width: 100%;
  height: calc(100% + 80px);
  padding: 40px 10px;
  background-color: var(--main-color);
}

.foot-heading {
  color: var(--fade-text);
  opacity: 0.6;
}

.partners {
  margin-top: 50px;
  color: var(--fade-text);
  font-size: var(--md-text);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
}

#stitch-up {
  font-family: var(--font-sm);
  font-size: 0.8em;
}

#Air-up {
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Twinkle Star', cursive;
}

#Mozzi-up {
  font-weight: 400;
  font-family: var(--font-big);
  font-size: 0.8em;
}

.close-foot {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rights span {
  color: var(--secondary-color);
}

.contact-us {
  font-size: var(--sm-text);
  text-align: center;
  line-height: 24px;
}

/* About */

.about-footer,
.aboutBg {
  background-color: transparent;
}

.about-main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-about-add,
.create-common,
.past-reviews {
  background-color: #fff;
  text-align: center;
  padding: 40px 20px;
  font-size: var(--md-text);
}

.create-common h1,
.past-reviews h1 {
  font-size: var(--md-text);
}

.create-common > div,
.past-reviews > div {
  margin: 18px auto;
}

.create-common > hr {
  margin-top: 40px;
}

.card-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-logo {
  margin-top: 30px;
  padding: 15px 25px;
  border: 2px solid rgb(206, 202, 202);
  font-family: 'Twinkle Star', cursive;
}

.card-one,
.card-two {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-one {
  background-image: url(./images/conONe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% + 100px);
}

.card-two {
  background-image: url(./images/conTwo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% + 100px);
}

.cardBg {
  background-color: rgba(228, 22, 22, 0.5);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hide-on-desktop {
  display: block;
}

.hide-on-mobile {
  display: none;
}

/* MEDIA QUERY */

@media (min-width: 768px) {
  .close {
    display: none;
  }

  .link-and-nav {
    position: relative;
    height: auto;
  }

  .foot-about {
    display: none;
  }

  .last-foot {
    background-color: var(--main-color);
  }

  .about-close {
    background-color: var(--main-color);
  }

  .ham {
    display: none;
  }

  .hide-mobile {
    display: block;
    z-index: 2;
  }

  .social-link {
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-right: 5.4%;
  }

  .logo a {
    color: #fff;
  }

  .social-link ul {
    padding: 0;
    text-align: center;
    padding-top: 5px;
    gap: 12px;
  }

  .nav-link-head {
    font-size: var(--ss-text);
    margin-left: 0;
    flex-direction: row;
    gap: 0;
  }

  .nav-menu-link a {
    font-size: var(--ss-text);
    color: var(--secondary-color);
  }

  .nav-menu li {
    font-size: var(--ss-text);
  }

  .summit a {
    text-transform: uppercase;
    padding: 0;
    background: none;
    border-bottom: 2px solid gray;
  }

  .social-link ul a {
    text-decoration: none;
    color: var(--main-color);
  }

  nav {
    background-color: var(--main-color);
  }

  .nav-bar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1666px;
    margin: 0 auto;
  }

  .logo {
    font-size: var(--ss-text);
    font-family: var(--font-sm);
    cursor: pointer;
  }

  .logo-cancel {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 6px;
    width: 30%;
  }

  .nav-menu {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 55px;
  }

  .nav-bar ul {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  .nav-bar li {
    list-style-type: none;
  }

  header {
    height: 760px;
    background-size: cover;
    background-position-y: -28%;
  }

  .showcase {
    width: 70%;
    margin-top: 0;
    margin-top: 8%;
    max-width: 1020px;
    margin-left: 13%;
  }

  .showcase blockquote {
    font-size: var(--md-text);
  }

  .showcase h1 {
    font-size: var(--lg-text);
  }

  .program-list {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    gap: 10px;
    margin-bottom: 90px;
  }

  .program-list .li {
    flex-direction: column;
    text-align: center;
    gap: 0;
    gap: 15px;
    width: 30%;
    height: 280px;
    max-height: 330px;
  }

  .program-list .li img {
    width: 70px;
  }

  .program-list .li h4 {
    font-size: var(--md-text);
  }

  .about-right p {
    color: #fff;
  }

  .program-list .li p {
    font-size: var(--sm-text);
  }

  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: inline-block;
  }

  .speakers ul {
    width: 90%;
    max-width: 1524px;
    margin: 80px auto;
    gap: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
  }

  .speakers ul li {
    margin: 0 auto;
    margin-left: 15%;
    width: 90%;
    display: flex;
  }

  .hide-speaker {
    display: block;
  }

  .see-more {
    display: none;
  }

  .close-foot {
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 0;
    gap: 50px;
  }

  /* About */

  .about-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: var(--main-color);
  }

  .aboutBg {
    background-color: var(--main-color);
  }

  .main-about-add,
  .create-common,
  .past-reviews {
    width: 80%;
    margin: 0 auto;
  }

  .main-about-add {
    line-height: 28px;
    width: 60%;
    margin: 0 auto;
  }

  .pabout {
    border: 2px solid rgb(214, 209, 209);
    padding: 30px 40px;
    margin-bottom: 20px;
  }

  .card-preview {
    width: 80%;
    max-width: 1424px;
    height: 320px;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .card-one,
  .card-two {
    height: 100%;
    width: 50%;
  }

  .card-logo {
    max-width: 70%;
    padding: 0;
    padding: 60px 15px;
  }
}

@media (min-width: 1250px) {
  .speakers ul {
    grid-column-gap: 15px;
    grid-row-gap: 80px;
  }
}
